/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo img {
    width: 160px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
   
        margin-top: 150px; /* Ajuste conforme necessário */
    }

/* Seção Hero */
.invisivel {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.torres-highlight {
    color: #fc9a2b; /* Cor azul para destacar o texto ACCA */
    font-weight: bold; /* Opcional, se quiser enfatizar ainda mais */
}
.hero {
    position: relative;
    min-height: 100vh;
    background: url('img/Imagem\ do\ WhatsApp\ de\ 2024-10-30\ à\(s\)\ 21.31.37_8d7cbbff.jpg') no-repeat center center/cover;
    padding: 2rem;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.hero-text {
    position: relative;
    max-width: 950px;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    z-index: 1;
    
}

.hero-header {
    position: fixed;
    top: 0;
    width: 160vh;
    padding: 1rem;
    z-index: 1000;
    margin-top: -2.1rem;
    
}

.navbar {
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #fc9a2b;
}

.navbar-nav {
    display: flex;
    gap: 3rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-link:hover {
    color: #fc9a2b;
    transition: color 0.3s ease;
}

.nav-link.active {
    color: #fc9a2b !important;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.hero h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    color: #fff;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #fff;
}

.cta-button {
    background: #fc9a2b;
    color: #333;
    padding: 6rem 2rem;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
    text-decoration: none;
    display: inline-block;
    
}

.cta-button:hover {
    background: #c97b21;
}
#nossas-torres {
    padding: 3rem 0;
    background-color: #f8f9fa;
}

#nossas-torres h2 {
    text-align: center;
    margin-bottom: 2rem;
}

#nossas-torres p {
    text-align: center;
    margin-bottom: 2rem;
}

.torre-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
}

.torre-item img {
    width: 200px; /* Tamanho da imagem em formato quadrado */
    height: 200px;
    object-fit: cover; /* Garante que a imagem preencha o quadrado */
    border-radius: 8px; /* Bordas levemente arredondadas */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar */
}

.torre-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.torre-item p {
    margin: 0;
    color: #555;
}

.torre-item-content {
    max-width: 500px;
}


.btn {
    border: none;
    background: #fc9a2b;
    color: #333;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: #fc9a2b;
    transform: scale(1.05);
}

.projetos {
    background: linear-gradient(135deg, #f8f8f8 0%, #e0e0e0 100%);
    padding: 4rem 0;
}

.projetos h2 {
    color: #333;
    font-weight: 700;
    margin-bottom: 2rem;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1.5rem;
}

.img-fluid {
    border-radius: 15px 15px 0 0;
}

#missao-visao-valores {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    border: none;
}

#missao-visao-valores .card {
    flex: 1;
    margin: 0;
    border: none;
    padding: 2rem;
    height: 100%;
    background: #ffffff;
    color: #333;
}

#missao-visao-valores .card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

#missao-visao-valores .card-text {
    font-size: 1rem;
    line-height: 1.6;
}

.contato {
    padding: 4rem 2rem;
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #fc9a2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #fc9a2b;
}

#contato {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#contato h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form p {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #fc9a2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #fc9a2b;
}
.footer {
    background: #333;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

.social-media a {
    color: #fc9a2b;
    margin: 0 0.5rem;
    text-decoration: none;
}

.social-media a:hover {
    color: #fc9a2b;
}

.hero-text,
.service-card,
.project-item {
    width: 100%;
}

.service-cards,
.project-gallery {
    flex-direction: column;
    align-items: center;
}
.bg-custom {
    background-color: #333; /* Substitua pelo código da cor desejada */
}
.success-message {
    color: #28a745;
    font-weight: bold;
}

.error-message {
    color: #dc3545;
    font-weight: bold;
}

#projetos .card {
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

#projetos .card:hover {
    transform: scale(1.05);
}


.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-icon {
    width: 60px;
    height: 60px;
}

.back-to-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #333;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.back-to-top:hover {
    transform: scale(1.1);
}

.back-to-top i {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus,
a:active {
    color: #fc9a2b;
}

#projetos .col-md-4 {
    max-width: 33%;
    flex: 1 0 33%;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    #projetos .col-md-4 {
        max-width: 100%;
        flex: 1 0 100%;
    }

    .carousel-item {
        height: 300px;
    }
}
@media (max-width: 768px) {
    h2.display-4 {
        font-size: 24px; /* Ajuste o tamanho da fonte para telas menores */
        margin: 8px; /* Ajuste as margens conforme necessário */
    }
}